<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CAR-MAR</title>
	<link rel="shorcut icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav>
		<a href="../index.html">
			<img src="../img/logo.png" alt="logo de CAR-MAR">
		</a>
		<ul class="menu">
			<li>
				<a href="../index.html">Home</a>
			</li>
			<li>
				<a href="../views/productos.html">Productos</a>
			</li>
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
			<li>
				<a href="../views/Galeria.html">Galeria</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>		
		</ul>
	</nav>
	<!-- ends nav -->
	<header>
		<h3> Mosquetones</h3>
		<img src="../img/mosqueton.png" alt="Foto de mosqueton">
		<h3> Mosquetones con Esmerillones</h3>
		<img src="../img/mosquetoncesmerillon.png" alt="Foto de mosqueton con esmerillon">
		<h3> Rotores</h3>
		<img src="../img/rotores.png" alt="Foto de rotores">
	</header>
	<!-- ends header -->
	<main>
		
         </section>

		<section></section>
		<!-- ends form -->
		<section></section>
		<!-- ends maps -->
	</main>
	<footer>
		<footer class="pie">
		<h3 class="pie__titulo--md">Seguinos en nuestras redes</h3>
		<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="seguinos en facebook" class="pie__icon--sm">
		</a>
		<a href="https://twitter.com/?lang=es" target="_blank">
			<img src="../img/twitter.png" alt="seguinos en twitter" class="pie__icon--sm">
		</a>
	</footer>
	
</body>
</html>