<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CAR-MAR</title>
	<link rel="shorcut icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
	
</head>
<body>
	<div>
		<nav class="botonera">
			<a href="../index.html">
				<img src="../img/logo.png" alt="logo de CAR-MAR">
			</a>
			<ul>
				<li>
					<a href="../index.html">Home</a>
				</li>
				<li>
					<a href="../views/productos.html">Productos</a>
				</li>
				<li>
					<a href="../views/nosotros.html">Nosotros</a>
				</li>
				<li>
					<a href="../views/Galeria.html">Galeria</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
		<!-- ends nav -->
		<header>
			<img src="../img/header.jpg" alt="Foto principal">
		</header>
		<!-- ends header -->
		<main>
			<h1>Fabrica de articulos para la pesca deportiva en acero inoxidable</h1>
			<section>
				<h2>CAR-MAR</h2> <!--descripcion y trayectoria de artistas-->
				<p>Ubicados en la ciudad de Zarate al norte de la provincia de Buenos Aires, desde 1956 fabricando en acero inoxidable de alta calidad los mejores articulos para la pesca deportiva, llegando a todo el pais.<p>
				
				</section>
			<section></section>
			<!-- ends form -->
			<section></section>
			<!-- ends maps -->
		</main>
		<footer></footer>
	</div>
	</body>
</html>